/*
  foscos: #2d232e
          #474448
          #534b52

  clars: #e0ddcf
         #f1f0ea
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d232e;
  color: #e0ddcf;
}

img {
  display: flex;
  width: 90%;
  border-radius: 50%;
  transition-duration: 0.5s;
}

img:hover {
  display: flex;
  width: 100%;
  border-radius: 50%;
  transition-duration: 0.5s;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13% 42%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
*/