/* Bloc navigation bar */

.navigation-bar {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.navigation-bar li {
  display: flex;
  float: left;
  color: white;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 40px;
  font-size: large;
}

.navigation-bar li:hover {
  background-color: rgb(17, 17, 17);
}

/* Bloc taula de la temporada de la fruita */

.taula {
  width: 100%;
}

.tr_taules:hover {
  background-color:  rgb(134, 174, 211);
  color: white;
  font-size: 19px;
}

tr {
  display: flex;
  align-items: center;
  border: 0.1em solid #7a7a7a;
}

 th {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 35px;
  flex: 1;
  background-color: rgb(87, 106, 161);
  color: white;
  padding: 0.2em;
}

 td {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25px;
  flex: 1;
  padding: 0.2em 0.4em;
}